<html>
<head>
    <title>Todo</title>
    <!-- 静态文件放在 /static 文件夹中 -->
    <!-- 引用路径是 /static/... -->
    <link rel="stylesheet" href="/static/css/pure-min.css">
    <style type="text/css">
        .todo-table {
            margin: 0 auto;
        }
        .center {
            text-align: center;
        }
    </style>
</head>

<body>
<div class="center">
    <h1>Todo</h1>
    <!-- 注意这里 的 url_for 也是需要加上蓝图名字前缀的 -->
    <form action="/todo/update" method="post">
        <input type="hidden" name="id" value="{{ todo.id }}">
        <input type="text" placeholder="Add Todo" name="title" value="{{ todo.title }}">
        <input class="pure-button pure-button-primary" type="submit" value="Update">
    </form>
</div>
</table>
</body>
</html>
